
#  url local
PORT=3000
BASE_URL= http://localhost/
DATABASE_URL=postgres://lapince:lapince@localhost:5432/lapince

JWT_SECRET=Le-projet-La-pince-est-good

#  url render

PORT=3000
BASE_URL=postgresql://la_pince_lmln_user:PvdImH3D387k9aF2cnV21NnzI0vTVCcx@dpg-d7aik14hg0os73b45le0-a/la_pince_lmln
DATABASE_URL=postgres://lapince:lapince@localhost:5432/lapince

JWT_SECRET=un_mot_de_pass_secret